<main>
    <div class="bg-white">
        <div class="m-5 p-3"></div>
        <div class="m-5 p-3"></div>
        <div class="d-flex justify-content-center align-items-center">
            <form role="form">
                <div class="card shadow border-0">
                    <div class="card-header bg-default" style="text-align: center;">
                        <h4 class="text-white">Encrypted Streaming</h4>
                    </div>
                    <div class="card-body bg-secondary">
                        <a *ngIf="select == 'none'" type="button" (click)="select = 'conect'" class="btn btn-default text-white btn-block">
                            <span class="btn-inner--text">Connect to channel</span>
                        </a>
                        <div *ngIf="select == 'conect'" class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3 d-flex">
                                        <input id="channelAddress" #channelAddress class="form-control" placeholder="Channel Address" type="text" style="text-align: center;" />
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center align-items-center">
                                    <a type="button" (click)="select = 'none'" class="btn btn-default text-white p-2 m-2">
                                        <span class="btn-inner--text">Back</span>
                                    </a>
                                    <a *ngIf="globals.status != 'connected'" type="button" (click)="openModal('select-provider')" class="btn btn-default text-white p-2 m-2">
                                        <span class="btn-inner--text">Connect</span>
                                    </a>
                                    <a *ngIf="globals.status == 'connected'" type="button" (click)="connectChannel(channelAddress.value)" class="btn btn-default text-white p-2 m-2">
                                        <span class="btn-inner--text">Connect</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a *ngIf="select == 'none'" type="button" (click)="select = 'stream'" class="btn btn-default text-white btn-block">
                            <span class="btn-inner--text">Start streaming</span>
                        </a>
                        <div *ngIf="select == 'stream'" class="row mt-2">
                            <div class="col-md-12">
                                <div *ngIf="globals.status == 'disconected'" class="alert alert-default" style="text-align: center;" role="alert">
                                    <strong class="text-bold text-white">You need to connect your wallet to start streaming</strong>
                                </div>
                                <div *ngIf="globals.status == 'loading'" class="alert alert-default" style="text-align: center;" role="alert">
                                    <strong class="text-bold text-white">Loading credentials from wallet</strong>
                                </div>
                                <div *ngIf="globals.status == 'registering'" class="alert alert-default" style="text-align: center;" role="alert">
                                    <strong class="text-bold text-white">Setup your account to start streaming</strong>
                                </div>
                                <div *ngIf="globals.status == 'registering-wait'" class="alert alert-default" style="text-align: center;" role="alert">
                                    <strong class="text-bold text-white">Please wait a while until your transaction completes</strong>
                                </div>
                                <div *ngIf="globals.status == 'connected'" class="alert alert-default" style="text-align: center;" role="alert">
                                    <strong class="text-bold text-white">Connect to your credentials provider</strong>
                                </div>
                                <div *ngIf="globals.status == 'password'" class="alert alert-default" style="text-align: center;" role="alert">
                                    <strong class="text-bold text-white">Input a password to unlock your credentials</strong>
                                </div>
                                <div *ngIf="globals.status == 'connectedCredentials'" class="alert alert-default" style="text-align: center;" role="alert">
                                    <strong class="text-bold text-white">Wallet is ready to start streaming</strong>
                                </div>
                                <div class="d-flex justify-content-center align-items-center">
                                    <a type="button" (click)="select = 'none'" class="btn btn-default text-white p-2 m-2">
                                        <span class="btn-inner--text">Back</span>
                                    </a>
                                    <a *ngIf="globals.status == 'disconected'" type="button" (click)="openModal('select-provider')" class="btn btn-default text-white p-2 m-2">
                                        <span class="btn-inner--text">Connect</span>
                                    </a>
                                    <a *ngIf="globals.status == 'registering'" type="button" (click)="openModal('register-credentials')" class="btn btn-default text-white p-2 m-2">
                                        <span class="btn-inner--text">Register</span>
                                    </a>
                                    <a *ngIf="globals.status == 'connected'" type="button" (click)="openModal('connect-credentials')" class="btn btn-default text-white p-2 m-2">
                                        <span class="btn-inner--text">Connect</span>
                                    </a>
                                    <a *ngIf="globals.status == 'password'" type="button" (click)="openModal('select-provider')" class="btn btn-default text-white p-2 m-2">
                                        <span class="btn-inner--text">Retry</span>
                                    </a>
                                    <a *ngIf="globals.status == 'connectedCredentials'" type="button" (click)="startStreaming()" class="btn btn-default text-white p-2 m-2">
                                        <span class="btn-inner--text">Stream</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<app-wallet></app-wallet>
