<div class="container">
    <div class="header">
        <div class="bg-default border-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 py-2">
                        <p class="text-white" style="text-align: right;">Connection status: {{ globals.status }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <br /><br /><br /><br /><br /><br />
        <div class="row">
            <div [ngClass]="{ 'col-md-8': showChat, 'col-md-12': !showChat }">
                <div class="card-body bg-default">
                    <app-stream-box></app-stream-box>
                </div>
            </div>
            <div *ngIf="showChat" class="col-md-4">
                <div class="card-body bg-default">
                    <app-chat-box></app-chat-box>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="bg-default border-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 py-2">
                        <div class="mb-5 d-md-flex justify-content-center align-items-center">
                            <a *ngIf="!play" (click)="startRecord()" class="btn btn-secondary p-2 m-2"
                                ><span><i class="fa fa-play" style="font-size: 36px;"></i></span
                            ></a>
                            <a *ngIf="play" (click)="stopRecord()" class="btn btn-secondary p-2 m-2"
                                ><span><i class="fa fa-stop" style="font-size: 36px;"></i></span
                            ></a>
                            <a *ngIf="!showChat" (click)="showChat = !showChat" class="btn btn-secondary p-2 m-2"
                                ><span><i class="fa fa-commenting-o" style="font-size: 36px;"></i></span
                            ></a>
                            <a *ngIf="showChat" (click)="showChat = !showChat" class="btn btn-secondary p-2 m-2"
                                ><span><i class="fa fa-commenting" style="font-size: 36px;"></i></span
                            ></a>
                            <a *ngIf="!mic()" (click)="toggleAudio()" class="btn btn-secondary p-2 m-2"
                                ><span><i class="fa fa-microphone" style="font-size: 36px;"></i></span
                            ></a>
                            <a *ngIf="mic()" (click)="toggleAudio()" class="btn btn-secondary p-2 m-2"
                                ><span><i class="fa fa-microphone-slash" style="font-size: 36px;"></i></span
                            ></a>
                            <a *ngIf="!video()" (click)="toggleVideo()" class="btn btn-secondary p-2 m-2"
                                ><span><i class="fa fa-video-camera" style="font-size: 36px;"></i></span
                            ></a>
                            <a *ngIf="video()" (click)="toggleVideo()" class="btn btn-secondary p-2 m-2"
                                ><span><i class="fa fa-eye-slash" style="font-size: 36px;"></i></span
                            ></a>
                            <a *ngIf="!screen()" (click)="toggleScreen()" class="btn btn-secondary p-2 m-2"
                                ><span><i class="fa fa-desktop" style="font-size: 36px;"></i></span
                            ></a>
                            <a *ngIf="screen()" (click)="toggleScreen()" class="btn btn-secondary p-2 m-2"
                                ><span><i class="fa fa-ban" style="font-size: 36px;"></i></span
                            ></a>
                            <a (click)="openModal('setup-keys')" class="btn btn-secondary p-2 m-2"
                                ><span><i class="fa fa-key" style="font-size: 36px;"></i></span
                            ></a>
                            <a (click)="openModal('file-upload')" class="btn btn-secondary p-2 m-2"
                                ><span><i class="fa fa-upload" style="font-size: 36px;"></i></span
                            ></a>
                            <a (click)="openModal('ens-registry')" class="btn btn-secondary p-2 m-2"
                                ><span><i class="fa fa-gears" style="font-size: 36px;"></i></span
                            ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<jw-modal id="file-upload">
    <app-file-upload></app-file-upload>
</jw-modal>
<jw-modal id="ens-registry">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card card-lift--hover shadow border-0 text-center">
                <div class="card-header py-2 bg-info">
                    <h6 class="text-white text-uppercase">ENS Credentials</h6>
                </div>
                <div class="card-body py-2 bg-secondary">
                    <div class="alert alert-default" style="text-align: center;" role="alert">
                        <strong *ngIf="!hasRecord" class="text-bold text-white">Please configure an ENS record for your streaming</strong>
                        <strong *ngIf="hasRecord" class="text-bold text-white">Please confirm if this is the right record for this stream:</strong><br />
                        <strong *ngIf="hasRecord" class="text-bold text-white">{{ ENSRecord }}</strong>
                    </div>
                </div>
                <div class="card-footer py-2 bg-info">
                    <div>
                        <button *ngIf="hasRecord" class="btn btn-success btn-fab btn-icon btn-round m-2" (click)="closeModal('ens-registry'); openModal('ens-record')">Confirm</button>
                        <button class="btn btn-secondary btn-fab btn-icon btn-round m-2" (click)="closeModal('ens-registry'); openModal('ens-config')">Configure</button>
                        <button class="btn btn-secondary btn-fab btn-icon btn-round m-2" (click)="closeModal('ens-registry')">Ignore</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</jw-modal>
<jw-modal id="ens-config">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card card-lift--hover shadow border-0 text-center">
                <div class="card-header py-2 bg-info">
                    <h6 class="text-white text-uppercase">ENS Credentials</h6>
                </div>
                <div class="card-body py-2 bg-secondary">
                    <div *ngIf="ENSFailed" class="alert alert-default" style="text-align: center;" role="alert">
                        <strong class="text-bold text-white">Please input a valid unused name</strong>
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="nameInput">Stream Channel Name</label>
                            <input #nameInput type="text" class="form-control" id="nameInput" aria-describedby="ENS Name" placeholder="Name" />
                            <small id="nameInputHelp" class="form-text text-muted">Please provide a name for your streamer channel</small>
                        </div>
                    </form>
                </div>
                <div class="card-footer py-2 bg-info">
                    <div>
                        <button *ngIf="!ENSFailed" class="btn btn-success btn-fab btn-icon btn-round m-2" (click)="configureENSRecord(nameInput.value)">Confirm</button>
                        <button *ngIf="ENSFailed" class="btn btn-success btn-fab btn-icon btn-round m-2" (click)="configureENSRecord(nameInput.value)">Retry</button>
                        <button class="btn btn-secondary btn-fab btn-icon btn-round m-2" (click)="closeModal('ens-config')">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</jw-modal>
<jw-modal id="ens-record">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card card-lift--hover shadow border-0 text-center">
                <div class="card-header py-2 bg-info">
                    <h6 class="text-white text-uppercase">ENS Record</h6>
                </div>
                <div class="card-body py-2 bg-secondary">
                    <div class="alert alert-default" style="text-align: center;" role="alert">
                        <strong *ngIf="!hasStream" class="text-bold text-white">Input your IPFS folder hash or address</strong>
                        <strong *ngIf="hasStream" class="text-bold text-white">Current stream record: {{ ENSStream }}</strong>
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="folderHashInput">Folder Hash or address</label>
                            <input #folderHashInput type="text" class="form-control" id="folderHashInput" aria-describedby="ENS Name" placeholder="Hash or address" />
                            <small id="folderHashInputHelp" class="form-text text-muted">Please provide a valid IPFS folder hash or address</small>
                        </div>
                    </form>
                </div>
                <div class="card-footer py-2 bg-info">
                    <div>
                        <button *ngIf="!hasStream" class="btn btn-success btn-fab btn-icon btn-round m-2" (click)="setENSRecord(folderHashInput.value)">Register</button>
                        <button *ngIf="hasStream" class="btn btn-secondary btn-fab btn-icon btn-round m-2" (click)="setENSRecord(folderHashInput.value)">Update</button>
                        <button *ngIf="!hasStream" class="btn btn-secondary btn-fab btn-icon btn-round m-2" (click)="closeModal('ens-record')">Cancel</button>
                        <button *ngIf="hasStream" class="btn btn-success btn-fab btn-icon btn-round m-2" (click)="closeModal('ens-record')">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</jw-modal>
<jw-modal id="stop-record">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card card-lift--hover shadow border-0 text-center">
                <div class="card-header py-2 bg-info">
                    <h6 class="text-white text-uppercase">Stop Recording?</h6>
                </div>
                <div class="card-body py-2 bg-secondary">
                    <div class="alert alert-default" style="text-align: center;" role="alert">
                        <strong class="text-bold text-white">Please confirm stopping the stream</strong>
                    </div>
                    <button class="btn btn-success btn-fab btn-icon btn-round m-2" (click)="closeModal('stop-record')">Cancel</button>
                    <button class="btn btn-warning btn-fab btn-icon btn-round m-2" (click)="killRecord(); closeModal('stop-record')">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</jw-modal>
<jw-modal id="start-record">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card card-lift--hover shadow border-0 text-center">
                <div class="card-header py-2 bg-info">
                    <h6 class="text-white text-uppercase">Start Recording?</h6>
                </div>
                <div class="card-body py-2 bg-secondary">
                    <div class="alert alert-default" style="text-align: center;" role="alert">
                        <strong class="text-bold text-white">Please confirm starting the stream</strong>
                    </div>
                    <button class="btn btn-warning btn-fab btn-icon btn-round m-2" (click)="closeModal('start-record')">Cancel</button>
                    <button class="btn btn-success btn-fab btn-icon btn-round m-2" (click)="playRecord(); closeModal('start-record')">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</jw-modal>
<jw-modal id="setup-keys">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card card-lift--hover shadow border-0 text-center">
                <div class="card-header py-2 bg-info">
                    <h6 class="text-white text-uppercase">Configure encryption</h6>
                </div>
                <div class="card-body py-2 bg-secondary">
                    <div class="alert alert-default" style="text-align: center;" role="alert">
                        <strong *ngIf="!globals.encryptStream" class="text-bold text-white">Uploaded files are not being encrypted</strong>
                        <p *ngIf="globals.encryptStream"><strong class="text-bold text-white">Uploaded files are being encrypted using Umbral from Nucypher</strong></p>
                        <p *ngIf="globals.encryptStream">
                            <strong class="text-bold text-white">Configure this information on your classroom private material</strong>
                        </p>
                        <p *ngIf="globals.encryptStream">
                            <strong class="text-bold text-white">Secret: {{ globals.encryptSecret }}</strong>
                        </p>
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="secretKeyInput">Import secret</label>
                            <input #secretKeyInput type="text" class="form-control" id="secretKeyInput" aria-describedby="Secret key input" placeholder="Secret key" />
                            <small id="secretKeyInputHelp" class="form-text text-muted">Leave blank to auto generate</small>
                        </div>
                    </form>
                    <button *ngIf="!globals.encryptStream" class="btn btn-success btn-fab btn-icon btn-round l-2" (click)="updateKeys(secretKeyInput.value)">Enable encryption</button>
                    <button *ngIf="globals.encryptStream" class="btn btn-success btn-fab btn-icon btn-round l-2" (click)="updateKeys('')">Disable encryption</button>
                </div>
                <div class="card-footer py-2 bg-info">
                    <button class="btn btn-secondary btn-fab btn-icon btn-round m-2" (click)="closeModal('setup-keys')">close</button>
                </div>
            </div>
        </div>
    </div>
</jw-modal>
