<jw-modal id="select-provider">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card card-lift--hover shadow border-0 text-center">
                <div class="card-header py-2 bg-info">
                    <h6 class="text-white text-uppercase">Choose a provider</h6>
                </div>
                <div class="card-body py-2 bg-secondary">
                    <div class="row justify-content-center align-content-center">
                        <div class="col-md-6">
                            <button class="btn btn-secondary btn-fab btn-icon btn-round m-2" (click)="connectMetamask(); closeModal('select-provider')">
                                <span><img src="../../assets/img/icons/common/metamask.svg" alt="Metamask Icon" width="128" height="128" /></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</jw-modal>
